@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Montserrat', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 13px;
  background: #F5F5F5;
  padding-top: 70px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
